button:disabled{
    cursor:not-allowed;
}
main{
    height:100vh;
}
button{
    width:70px;
    margin:1vh;
}
p{
    font-size: 2rem;
    font-weight: 300;
}
span{
    font-size: 3rem;
    font-weight: 300;
}